@import '../../colors'
@import '../../fonts'
@import 'cart-item'


.cart
  position: absolute
  top: 0
  right: 0

  height: 100%
  // 375px is full width on iPhone 6-size/X-size, and leaves a healthy margin on 6+ size phones (not
     so small that it looks accidental)
  width: 100vw
  max-width: 400px

  background: $dark-1
  box-shadow: -375px 0 0 100vw transparentize($actually-black, .65)
  transition: transform .5s, box-shadow .5s

  &.hidden
    box-shadow: -375px 0 0 100vw transparentize($actually-black, 1)
    transform: translateX(100%)

.contents
  position: absolute
  width: 100%
  height: 100%
  padding: 8% 10.6%


svg.feather-x
  color: $actually-white
  width: calc(11px + 1vw)
  height: calc(11px + 1vw)
  transform: translateX(-10%) // Try to line up better with the left edge
  cursor: pointer
  margin-bottom: 1.55rem

@media (pointer: coarse)
  svg.feather-x
    width: calc(19px + 1vw)
    height: calc(19px + 1vw)



h1
  font-family: $avenir-font-stack
  font-size: 1rem
  text-transform: uppercase
  letter-spacing: .044em
  font-weight: 700

  color: $actually-white



.summary
  display: flex
  align-items: center

  color: transparentize($actually-white, .35)
  font-family: $avenir-font-stack
  font-size: .66rem
  font-weight: 500
  letter-spacing: .044em

  .separator
    width: .22rem
    height: .22rem
    border-radius: .11rem
    background: transparentize($actually-white, .35)
    margin: 0 .3rem

.details
  margin-top: .88rem
  padding: 5%
  background: $dark-2
  border-radius: 3px
  box-shadow: 0 5px 25px -7px transparentize($actually-black, .75)
