@import '../../styles/common'


.image-carousel
  position: absolute

  .images-container
    position: absolute
    overflow: hidden

  img
    position: absolute
    transition: transform .5s, box-shadow .25s
    box-shadow: 0 .75vh 4vh -.5vh transparentize($actually-black, .75)
    will-change: transform

    &:hover
      box-shadow: 0 1vh 4.75vh -.3vh transparentize($actually-black, .775)

  .image-missing
    position: absolute
    top: calc(50% - .5em)
    width: 100%
    text-align: center
    font-family: $avenir-font-stack
    font-size: .8rem
    color: transparentize($black, .75)
    pointer-events: none

  .pagination
    display: flex
    position: absolute
    bottom: -2.2rem
    width: 100%
    height: 2.2rem
    justify-content: center
    align-items: center

    .dot
      position: relative
      width: .35rem
      height: .35rem
      background: $dark-4
      cursor: pointer
      margin: 0 .125rem
      border-radius: 50%
      opacity: .25
      transition: opacity .35s

      &.selected
        opacity: .75

      // Increase click area
      &::before
        content: ''
        width: .6rem
        height: .6rem
        position: absolute
        top: -.125rem
        left: -.125rem


// container width-based layout

.image-carousel:not(.full-width)
  .images-container
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: calc(100% + (3.5vh * 2))
    padding-bottom: calc(150% + ((3.5vh + .75vh) * 2))

  img
    top: 50%
    left: 3.5vh
    width: calc(100% - (3.5vh * 2))
    height: auto
    cursor: pointer
    transform: translateY(-50%)

// container height-based layout
.image-carousel.full-width
  .images-container
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100vw
    height: 100%

  img
    height: 100%
    width: auto
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%)
