@import '../../colors'
@import '../../fonts'


.image-carousel
  position: absolute

  img
    position: absolute
    top: 50%
    // left set by JS
    width: 100%
    height: auto
    transform: translateY(-50%)
    box-shadow: 0 .75vh 4vh -.5vh transparentize($actually-black, .75)

  .image-missing
    position: absolute
    top: calc(50% - .5em)
    width: 100%
    text-align: center
    font-family: $avenir-font-stack
    font-size: .8rem
    color: transparentize($black, .75)
    pointer-events: none
