.cart-item-options
  width: calc(78.8vw - 1.4rem)
  max-width: calc(315.2px - 1.4rem)
  padding: 9% 4% 7.5%

  & > :not(:last-child)
    margin-bottom: .9rem

.colors
  display: inline-block
  font-size: 32px

.sizes
  margin-left: 10%
  margin-right: 10%
  font-size: 20px

.bottom-bar
  margin-left: 8%
  margin-right: 8%
  height: 33px
  font-size: 13.5px
