.cart-item-options
  width: calc(78.8vw - 1.4rem)
  max-width: calc(315.2px - 1.4rem)
  padding: 9% 4% 7.5%

  & > :not(:last-child)
    margin-bottom: .9rem

.sizes
  margin-left: 10%
  margin-right: 10%

.colors
  display: inline-block

.bottom-bar
  margin-left: 8%
  margin-right: 8%
