.modal
  position: absolute
  width: 100%
  left: 0
  height: 90%
  bottom: 0
  border-radius: 7px 7px 0 0
  overflow: hidden
  pointer-events: all
  background: $actually-white
  display: flex
  flex-direction: column

.left // (actually top in mobile layout)
  flex-grow: 1
  position: relative
  background: $white

  .image-carousel
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: 7% 0 9%

.right // (actually bottom in mobile layout)
  flex-grow: 0
  padding: 5% 10% 10%

  h1
    font-size: 1.7rem
    text-align: left
    line-height: 1.2em
    margin-bottom: .2rem

  .description
    font-size: 1rem
    margin-bottom: 1.3rem
