.modal
  position: absolute
  width: 100%
  left: 0
  height: 90%
  bottom: 0
  border-radius: 7px 7px 0 0
  overflow: hidden
  pointer-events: all
  background: $actually-white
  display: flex
  flex-direction: column

.left // (actually top in mobile layout)
  flex-grow: 1
  position: relative
  background: $white

  .image-carousel
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: 7% 0 9%


.right // (actually bottom in mobile layout)
  flex-grow: 0

  h1
    font-size: 1.6rem
    text-align: left
    line-height: 1.2em
    margin: 5% 10% .2rem

  .bottom-bar
    margin: 1.3rem 10% 10%
    height: 2.25rem
    font-size: .8rem

  .pages
    display: flex
    width: 200vw
    transition: transform .5s

    &[data-page='2']
      transform: translate(-100vw)

    .page
      width: 100vw

    // First page contains title and description

    .page-1
      padding: 0 5%
      font-size: 1.1rem

    // Second page contains color and size selection

    .page-2
      padding: 1% 7.5% 0
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-around

      .colors
        font-size: 2.25rem
        margin-bottom: 4%

      .sizes
        width: 100%
        font-size: 1.35rem


.slide-from-bottom
  &-enter-active,
  &-leave-active
    &.wrapper // transition is applied directly to the wrapper element
      transition: opacity .35s

  &-enter,
  &-leave-to
    &.wrapper
      opacity: 0
