@import '../../colors'
@import '../../fonts'


$title-color: #565472
$desc-color: #424243


.modal
  position: fixed
  left: 50%
  top: 50%
  min-height: 18rem
  transform: translate(-50%, -50%)
  background: $white
  box-shadow: 0 0 0 1000px transparentize($actually-black, .75), 0 .2rem .65rem -.3rem transparentize($actually-black, .65)
  padding: 2.2rem 0
  border-radius: .5rem
  display: flex

  & > div
    position: relative

  @media screen and (max-width: 500px)
    width: 100vw


.left
  width: 15em

  img
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-65%)
    width: 70%
    height: auto
    margin: 15%
    box-shadow: 0 .75vh 4vh -.5vh transparentize($actually-black, .75)




.right
  padding-right: 1.3rem
  width: 13em

  h1
    font-family: $avenir-font-stack
    font-style: italic
    font-size: 1.3rem
    font-weight: 700
    text-transform: uppercase
    color: $title-color
    line-height: 1.2em
    margin-bottom: .2rem

    .price
      font-weight: 400

  .description
    font-size: .75rem
    font-family: 'Source Sans Pro', sans-serif
    font-weight: 400
    color: $desc-color
    margin-bottom: .9rem

  .colors,
  .sizes
    margin-bottom: .9rem
