@import '../../colors'
@import '../../fonts'


.modal
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background: $white
  box-shadow: 0 0 0 100vmax transparentize($actually-black, .75)
