@import '../../colors'
@import '../../fonts'


.page
  background: $dark-1
  color: $actually-white

.form
  position: absolute
  top: 50vh
  left: 50vw
  transform: translate(-50%, -50%)
  width: 55vw
  text-align: center

h1
  font-family: $avenir-font-stack
  text-transform: uppercase
  font-size: 1.75rem
  font-weight: 700
  letter-spacing: .05em
  white-space: nowrap
  margin-bottom: 1em
  width: 100%

.row
  display: flex
  flex-direction: row
  justify-content: space-between
  margin-bottom: 2rem

  & > div
    padding-right: 10%
    flex-grow: 1

  \:last-child
    padding-right: 0

button:last-child
  margin-top: 1.1rem
