@import '../../colors'
@import '../../fonts'


.page
  background: $dark-1
  color: $actually-white

.form
  position: absolute
  top: 50vh
  left: 50vw
  transform: translate(-50%, -50%)
  width: 55vw

h1
  font-family: $avenir-font-stack
  text-transform: uppercase
  font-size: calc(15px + 2.5vw)
  font-weight: 700
  letter-spacing: .05em
  white-space: nowrap
  margin-bottom: 1em
  width: 100%
  text-align: center
