@import '../../colors'
@import '../../fonts'


.page
  background: $actually-white
  color: $dark-0

h1.bg-title
  font-family: $avenir-font-stack
  font-style: italic
  font-weight: 700
  font-size: 14vw
  line-height: .9em
  text-transform: uppercase
  white-space: nowrap
  color: $header-text
  user-select: none

  position: absolute
  top: 50%
  left: 50vw
  margin: 0
  transform: translate(-47%, -58%)

  span.lighter
    color: $header-text-light


.products-container
  position: absolute
  width: 100%
  height: 100%



.cart-button
  position: absolute
  z-index: 51
  top: calc(14px + 1.25vw)
  right: calc(23px + 2.1vw)

.cart
  z-index: 60
