.slide-downwards-enter-active,
.slide-downwards-leave-active,
.slide-upwards-enter-active,
.slide-upwards-leave-active
  transition: transform .5s

// Slide everything downwards to transition (move up one section)
.slide-downwards-enter
  transform: translateY(-100%)

.slide-downwards-enter-to
  transform: translateY(0)

.slide-downwards-leave
  transform: translateY(0)

.slide-downwards-leave-to
  transform: translateY(100%)

// Slide everything upwards to transition (move down one section)
.slide-upwards-enter
  transform: translateY(100%)

.slide-upwards-enter-to
  transform: translateY(0)

.slide-upwards-leave
  transform: translateY(0)

.slide-upwards-leave-to
  transform: translateY(-100%)

// Fancy scaling period animation

.period-scale-leave-active
  transition-duration: .5s

.period-scale-leave-to
  .main-loader h1:nth-child(2)
    .first:last-child::after,
    .second:last-child::after
      transform: translate(300%) scale(200)
      transition-duration: .35s
      transition-timing-function: cubic-bezier(.55, .055, .675, .19)

.period-scale-enter-active
  transition-duration: 1s

  .contents
    transition: opacity .5s .5s

.period-scale-enter .contents
  opacity: 0

.period-scale-enter-to .contents
  opacity: 1
