.nav-buttons
  top: calc(14px + 1.25vw)
  transition: color .5s

svg
  width: calc(14px + 1.25vw)
  height: calc(14px + 1.25vw)
  cursor: pointer
  transition: opacity .5s

  &.disabled
    opacity: .3
    cursor: default

@media (pointer: coarse)
  svg
    width: calc(24px + 1.25vw)
    height: calc(24px + 1.25vw)

    &:first-child
      padding-right: 3px

    &:last-child
      padding-left: 3px
