@import fonts

body
  background: #000
  color: #fff

#main-title
  font-family: 'soleil'
  font-style: normal
  font-weight: 600
  font-size: calc(25px + 4vw)
  text-align: center

  position: absolute
  top: 50vh
  left: 0
  width: 100vw
  transform: translateY(-50%)
  margin: 0
