@import fonts
@import colors


*,
*::before,
*::after
  box-sizing: border-box

body
  background: $dark-1
  color: $actually-white


#main-loader
  position: absolute
  top: 50vh
  left: 50vw
  transform: translate(-50%, -50%)
